@import "styles/bootstrap4/bootstrap.min.css";
@import "styles/fonts/fontawesome-free-5.0.1/css/fontawesome-all.css";
@import "styles/main_styles.css";
@import "styles/shop_styles.css";
@import "styles/shop_responsive.css";
/* @import "styles/product_styles.css"; */
@import "styles/product_responsive.css";
@import "styles/regular_styles.css";
@import "styles/responsive.css";

